body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Hiragino Kaku Gothic ProN,Noto Sans JP,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body.dark {
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
